# Java
*.class
*.jar
*.war
*.ear

# JavaDoc
javadoc-latest

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Text
plugin.txt
header.txt

# Markdown
WIKI_EN.md
WIKI_JP.md

# Other
*.log
*.swp
*.bak